* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: #0f161e;
  height: 100px;
}

main {
  background-color: #1d2d3c;
}

.bg-card {
  background-color: #112030 !important;
}